.text-bg-warning.hover:hover {
  background-color: var(--bs-warning) !important;
}

.text-bg-warning.hover {
  background-color: transparent !important;
  transition: 0.8s;
}

@media (min-width: 576px) {
  .flex-column {
    flex-direction: row!important;
  }
}

.flex-column {
  flex-direction: column!important;
}

